@charset "utf-8";
/* CSS Document */

body {
	align-items: center;
	justify-content: center;
	overflow: scroll;
	background-image:url(../background.jpg);
}
p {
	text-align: center;
	font-size:16px;
	color:gray;
	margin:25px;
	grid-area: text;
}
a {
	text-decoration: none;
	color: #FFF;
	font-weight:900;
	font-size:30px;
		
}
p {
	text-align: center;
	font-size:16px;
	color:gray;
	margin:25px;
	grid-area: text;
}
.back-home{padding: 2%;}
.back-home a img{ border-radius:100px;}
.card {
	width: 400px;
	height: 550px;
	background-image: url(../pictures/pink-texture.jpg);
	border-radius: 18px;
	margin: auto;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
	border: 5px solid rgb(94, 31, 52);
}

.song-name {
	padding: 5%;
	color: #000;
	text-align: center;
	font-size: 30px;
	margin:1%;
	text-shadow: 3px 3px 3px rgba(94, 31, 52, 0.432);
	font-family:monospace;
}


.card .song-avt{
	width:400;
	height:300;
}